APP_BASE_URL=http://localhost:8081

DB_URL=
DB_USERNAME=db-user-name
DB_PASSWORD=db-user-password

JWT_SECRET=secret-key
RESEND_API_KEY=
MAIL_FROM=noreply@domain.com

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio-login
MINIO_SECRET_KEY=minio-password
MINIO_BUCKET=bank-assets

GEMINI_BASE_URL=
GEMINI_API_KEY=
GEMINI_CONTEXT_WINDOW=20
GEMINI_MAX_TOOL_ROUND=5
